*{
    border: 0px;
    margin: 0px;
}
body{
    font-family: "Trirong", serif;
    color: #272727;
    background-color: #FFFFFF;
}

.btn-primary{
    font-size: 18px;
    color: #FFFFFF;
    background-color: #E55473;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #E55473;
    cursor: pointer;
}
.title{
    display: flex;
    justify-content: center;

}
.title-content{
    margin: 0 auto;
    text-align: center;
}

/* banner section css */
.section-banner{
    background-color: #FCEEF1;
    height: 850px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px ;

}

.banner-details>h1{
    font-size: 45px;
    font-weight:bolder;
}
.banner-details>p{
    margin: 20px 0;
    font-size: 18px;
}

.banner-image>img{
    margin-top: 50px;
    width: 635px;
    height: 800px;
}

/* section feature css */
.section-feature{
    margin: 100px;
}
.feature-content{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.bg-color-1{
    background-color: #F2DEE7;
}
.bg-color-2{
    background-color: #D9EFF1;
}
.bg-color-3{
    background-color: #E3EBDB;
}
.content-card>.content-img{
    /* background-image: url('../images/pngwing-10.png'); */
    /* width: 460px;
    height: 500px; */
    height: 400px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding: 20px 40px 0 40px;
}

.content-card>.content-img>img{
    width: 250px;
    /* height: 428px; */
    margin-top: auto;
}
.content-card>.content-img>.img{
    /* margin-top: auto; */
    margin-bottom: auto;
}
.content-card b{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.content-card b a{
    color: #272727;
}

/* section card css */
.section-card{
    margin: 110px;
    background-color: #F4F4F4;
    border-radius: 5px;
}
.feature-card{
    margin: 50px 70px;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.feature-card .card-design{
    text-align: center;
}